/* Width settings for table consistency */

.w-5 {
  width: 5% !important;
}

.w-10 {
  width: 10% !important;
}

.w-15 {
  width: 15% !important;
}

.w-25 {
  width: 25% !important;
}

/* used to keep the headers for sections of the data view table matching the bg color */
table.table.table-striped tr.bg-inherit {
  background-color: inherit;
}